{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "no-console": "off"
  }
}
