<lasso-page flags=['mobile', 'foo', 'bar']/>
<nav.nav key="nav">
  <div class="mxn1">
    <a href="#!" class="btn button-narrow">Home</a>
    <a href="/swaggerui" class="btn button-narrow">Swagger UI</a>
    <a href="/redoc" class="btn button-narrow">ReDoc</a>
  </div>
</nav>