<lasso-page package-path="../../../browser.json"/>

<!doctype html>
<html lang="en">
  <head>
      <title>MEAN</title>
      <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="Description" content="something fun" />
      <lasso-head/>
  </head>
  <body>
    <site-header/>
    <h2>404 - Page Not found</h2>
    <browser-refresh enabled="true"/>
  </body>
</html>